* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: "CommitMono Nerd Font", "FontAwesome"; */
    font-family: "Noto Serif", "FontAwesome";
}


window#waybar {
    color: #ffffff;
    /* background-color: rgba(43, 48, 59, 1.0); */
    background-color: #111111;
}



window#waybar.hidden {
    opacity: 0.2;
}


button {
   border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    /* background: inherit; */
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 3px;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 1.0);
}

/*
#workspaces button.focused {
}
*/

#workspaces button.active {
    background-color: #555555;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#custom-memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-cpu_info,
#custom-gpu_info,
#workspaces {
    font-size: 16px;
    margin: 0 0px;
    padding: 0px 2px;
    font-weight: bold;
}

/* If workspaces is the leftmost module, omit left margin to put waybar into the corner properly */ 
/* only works when margin is -2 ? */
.modules-left > widget:first-child > #workspaces {
    /* margin-left: 0; */
    margin-left: -2;
}

/* If tray is the rightmost module, omit right margin */
/* replace tray with whichever is the last module */
.modules-right > widget:last-child > #tray {
    margin-right: -2;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    /* background-color: #f53c3c; */
    color: #ffffff;
    animation-name: blink;
    animation-duration: 2.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #ffffff;
}

#submap {
    padding: 0px 5px;
    color: #ffff00;
    /* background-color: #552222; */
}
